body {
  background: lightGrey;
}

#container {
  width: 75%;
  height: 500px;
  background: white;
  margin: auto;
  text-align: center;
}

#todo {
  list-style-type: none;
}

#main-form {
  padding-top: 10px;
}

#completed {
  list-style-type: none;
  text-decoration: line-through;
}
