body {
  background: lightGrey;
}

#container {
  width: 75%;
  background: white;
  margin: auto;
  text-align: center;
}

#todo {
  color: #40cc1a;
  width: auto;
}

#todo li:hover {
  color: red;
}

#main-form {
  padding-top: 10px;
}

#completed {
  text-decoration: line-through;
  color: red;
  padding-bottom: 10px;
}

#input-button {
  background: #5ecaf2;
}

li {
  list-style-type: none;
  margin-right: 4%;
}
